.navbar {
    background-image: url(../images/skyline-one.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;

    /*  PREVIOUSLY UL TAG */
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
  }

.nav-links {
  padding-top: 15%; /* PASS */
  font-size: 50px;
  mix-blend-mode: difference;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  .menu-title {
    font-size: 50px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .nav-links {
    font-size: 15px;
  }
}

